#noticeWrite{
    width: 996px;
    margin: 0 auto;
    padding: 80px 0 120px 0;
    .title{
        h2{
            font-size: 28px;
            font-weight: 700;
            color: #222;
        }
    }
    form{
        ul{
            padding: 30px 20px;
            margin: 16px 0 50px 0;
            border-top: 2px solid #000;
            border-bottom: 1px solid #b5b5b5;
            li{
                margin: 0 0 11px 0;
                position: relative;
                label{       
                    color: #333;                                 
                    font-size: 15px;
                    font-weight: 700;
                    display: flex;
                    span{
                        display: flex;
                        align-items: center;
                        width: 130px;
                        height: 40px;
                    }
                    input[type='text']{
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 810px;
                        height: 40px;
                        margin: 0 0 0 130px;
                        padding: 0 11px;
                        border: 1px solid #d5d5d5;
                    }
                    textarea{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 810px;
                        height: 300px;
                        margin: 0 0 0 130px;
                        resize: none;
                        padding: 11px;
                        border: 1px solid #d5d5d5;
                    }
                    input[type='file']{
                        width: 0;
                    }                                       
                }
                &:nth-child(2){
                    height: 300px;
                }
            }
        }
        .btn-box{
            width: 100%;
            text-align: center;
            button{
                cursor: pointer;
                width: 200px;
                height: 60px;
                border: 0;
                background: #a5a5a5;
                color: #fff;
                transition: all 0.3s;
                &:hover{
                    background-color: #111;
                }
                &:nth-child(2){
                    background-color: #111;
                    margin: 0 0 0 10px;
                }
            }
        }
        
    }
}
